@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANSansWeb';
  src: url('/IRANSansWeb.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "IRANSansWeb", Tahoma !important;
}